.col-xs-12 img {
    width: 50%;
}

.centered {
    text-align: center;
}

button {
    margin: 1%;
    min-width: 25%;
}

#score {
    font-size: 48px;
}

canvas {
    width: 45%;
    height: width;
}